<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWXygMc3tvRnYFqFe25GEQ0FZskeUw700</string>
	<key>GCM_SENDER_ID</key>
	<string>110767419608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceriesApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>groceries-app-a936d</string>
	<key>STORAGE_BUCKET</key>
	<string>groceries-app-a936d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110767419608:ios:f2fc7a1dc4f4206072e7ad</string>
</dict>
</plist>